:root {
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-text: #dfd0b8;
  --color-buttons: #948979;
  --color-buttons-hover: #7a6b54;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding: 0 10%;
  margin-top: 20px;
}

.title button {
    padding: 5px;
    border: 1px solid var(--color-buttons);
    border-radius: 5px;
    background-color: var(--color-buttons);
}

.title button:hover {
    cursor: pointer;
    background-color: var(--color-buttons-hover);
}

.title textarea {
    background-color: var(--color-secondary);
    color: white;
}

.title h2 {
  font-size: 4rem;
}

.description {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding: 0 10%;
  margin: 20px 0;
}

.description button {
    padding: 5px;
    border: 1px solid var(--color-buttons);
    border-radius: 5px;
    background-color: var(--color-buttons);
}

.description button:hover {
    cursor: pointer;
    background-color: var(--color-buttons-hover);
}

.description textarea {
    background-color: var(--color-secondary);
    color: white;
    width: 50vw;
}

.description p {
  font-size: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  gap: 30px;
}

.footer-container select {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  color: white;
}

.footer-container button {
  padding: 8px 12px;
  background-color: red;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  color: white;
}
